{% if swappable %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Edit Swappable</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mmedara Josiah">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'baba_barter/css/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'baba_barter/css/edit_swappable.css' %}">
        <link rel="icon" href="{% static 'baba_barter/favicon.ico' %}">
        <script src="{% static 'baba_barter/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'baba_barter/js/edit_swappable.js' %}"></script>
    </head>
    <body style="background-color: #FDFCDC;">
        <div class="position-relative container-fluid" style="background-color: #FDFCDC;">
        <div class="row">
            <div class="col-12 col-md-6 mb-12 mb-lg-0 pt-20 py-lg-32 intro pt-md-7 px-10 px-lg-16">
            <h5 class="mb-10 font-bold">Create Swappable:</h5>
            <form action="{% url 'baba:update_swappable' id=swappable.id %}" method="post" enctype="multipart/form-data" data-form-type="register" id="create_swappable_form">
                {% csrf_token %}
                <!-- TODO Display error messages -->
                <input class="form-control mb-4 border-dark" type="text" name="name" value="{{swappable.name}}" data-form-type="text" required>
                <select class="form-control mb-4 border-dark type" name="type" id="type" required>
                    <option value="product" {% if swappable.type == 'product' %} selected {% endif %}>Product</option>
                    <option value="service" {% if swappable.type == 'service' %} selected {% endif %}>Service</option>
                </select>
                <select class="form-control mb-4 border-dark category" name="category" id="category" required>
                    <option value="shoe" {% if swappable.category.name == 'shoe' %} selected {% endif %}>Shoe</option>
                    <option value="clothing" {% if swappable.category.name == 'clothing' %} selected {% endif %}>Clothing</option>
                    <option value="technology" {% if swappable.category.name == 'technology' %} selected {% endif %}>Technology</option>
                    <option value="fashion" {% if swappable.category.name == 'fashion' %} selected {% endif %}>Fashion</option>
                    <option value="other" {% if swappable.category.name == 'other' %} selected {% endif %}>Other</option>
                </select>
                {% if sub_categories %}
                    <input class="form-control mb-4 border-dark" type="text" name="sub_categories" data-form-type="text" value="{{sub_categories}}">
                {% endif %}
                <input class="form-control mb-4 border-dark" type="text" name="short_description" data-form-type="text" value="{{swappable.short_description}}" required>
                <textarea class="form-control mb-4 border-dark long_description" form="create_swappable_form" name="long_description" data-form-type="text, new" rows="3">{{swappable.long_description}}</textarea>
                <textarea class="form-control mb-4 border-dark notes" form="create_swappable_form" name="notes" data-form-type="text, new" rows="2">{{swappable.notes}}</textarea>
                <input class="form-control mb-4 border-dark" type="file" accept="image/*" name="images" data-form-type="file" multiple>
                {% if swappable_images %}
                    <div class="" id="swappable_images">
                        <div class="row">
                            {% for swappable_image in swappable_images %}
                                <div class="col-6 col-sm-3 col-md-4 col-lg-3 mb-4">
                                    <img class="w-100 h-100 img-fluid swappable_image" id="{{swappable_image.id}}" style="object-fit: cover;" src="{{swappable_image.image.url}}" alt="{{swappable_image.swappable.name}}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="row align-items-center justify-content-between mx-auto" id="image_action" style="display: none;">
                    <button class="btn btn-primary fw-bold mb-4 me-sm-2 p-1" id="cancel_delete" style="height: 50px; color: #0081A7;">Cancel</button>
                    <button class="btn btn-outline-primary fw-bold mb-4 p-1" id="delete" style="height: 50px; color: #0081A7;">Delete</button>
                </div>
                <input class="form-control mb-4 border-dark" type="number" name="value" data-form-type="number" value="{{swappable.value}}" required>
                <select class="form-control mb-4 border-dark currency" name="currency" id="currency" required>
                    <option value="USD" {% if swappable.currency == 'USD' %} selected {% endif %}>United States Dollars</option>
                    <option value="EUR" {% if swappable.currency == 'EUR' %} selected {% endif %}>Euro</option>
                    <option value="GBP" {% if swappable.currency == 'GBP' %} selected {% endif %}>United Kingdom Pounds</option>
                    <option value="DZD" {% if swappable.currency == 'DZD' %} selected {% endif %}>Algeria Dinars</option>
                    <option value="ARP" {% if swappable.currency == 'ARP' %} selected {% endif %}>Argentina Pesos</option>
                    <option value="AUD" {% if swappable.currency == 'AUD' %} selected {% endif %}>Australia Dollars</option>
                    <option value="ATS" {% if swappable.currency == 'ATS' %} selected {% endif %}>Austria Schillings</option>
                    <option value="BSD" {% if swappable.currency == 'BSD' %} selected {% endif %}>Bahamas Dollars</option>
                    <option value="BBD" {% if swappable.currency == 'BBD' %} selected {% endif %}>Barbados Dollars</option>
                    <option value="BEF" {% if swappable.currency == 'BEF' %} selected {% endif %}>Belgium Francs</option>
                    <option value="BMD" {% if swappable.currency == 'BMD' %} selected {% endif %}>Bermuda Dollars</option>
                    <option value="BRR" {% if swappable.currency == 'BRR' %} selected {% endif %}>Brazil Real</option>
                    <option value="BGL" {% if swappable.currency == 'BGL' %} selected {% endif %}>Bulgaria Lev</option>
                    <option value="CAD" {% if swappable.currency == 'CAD' %} selected {% endif %}>Canada Dollars</option>
                    <option value="CLP" {% if swappable.currency == 'CLP' %} selected {% endif %}>Chile Pesos</option>
                    <option value="CNY" {% if swappable.currency == 'CNY' %} selected {% endif %}>China Yuan Renmimbi</option>
                    <option value="CYP" {% if swappable.currency == 'CYP' %} selected {% endif %}>Cyprus Pounds</option>
                    <option value="CSK" {% if swappable.currency == 'CSK' %} selected {% endif %}>Czech Republic Koruna</option>
                    <option value="DKK" {% if swappable.currency == 'DKK' %} selected {% endif %}>Denmark Kroner</option>
                    <option value="NLG" {% if swappable.currency == 'NLG' %} selected {% endif %}>Dutch Guilders</option>
                    <option value="XCD" {% if swappable.currency == 'XCD' %} selected {% endif %}>Eastern Caribbean Dollars</option>
                    <option value="EGP" {% if swappable.currency == 'EGP' %} selected {% endif %}>Egypt Pounds</option>
                    <option value="FJD" {% if swappable.currency == 'FJD' %} selected {% endif %}>Fiji Dollars</option>
                    <option value="FIM" {% if swappable.currency == 'FIM' %} selected {% endif %}>Finland Markka</option>
                    <option value="FRF" {% if swappable.currency == 'FRF' %} selected {% endif %}>France Francs</option>
                    <option value="DEM" {% if swappable.currency == 'DEM' %} selected {% endif %}>Germany Deutsche Marks</option>
                    <option value="XAU" {% if swappable.currency == 'XAU' %} selected {% endif %}>Gold Ounces</option>
                    <option value="GRD" {% if swappable.currency == 'GRD' %} selected {% endif %}>Greece Drachmas</option>
                    <option value="HKD" {% if swappable.currency == 'HKD' %} selected {% endif %}>Hong Kong Dollars</option>
                    <option value="HUF" {% if swappable.currency == 'HUF' %} selected {% endif %}>Hungary Forint</option>
                    <option value="ISK" {% if swappable.currency == 'ISK' %} selected {% endif %}>Iceland Krona</option>
                    <option value="INR" {% if swappable.currency == 'INR' %} selected {% endif %}>India Rupees</option>
                    <option value="IDR" {% if swappable.currency == 'IDR' %} selected {% endif %}>Indonesia Rupiah</option>
                    <option value="IEP" {% if swappable.currency == 'IEP' %} selected {% endif %}>Ireland Punt</option>
                    <option value="ILS" {% if swappable.currency == 'ILS' %} selected {% endif %}>Israel New Shekels</option>
                    <option value="ITL" {% if swappable.currency == 'ITL' %} selected {% endif %}>Italy Lira</option>
                    <option value="JMD" {% if swappable.currency == 'JMD' %} selected {% endif %}>Jamaica Dollars</option>
                    <option value="JPY" {% if swappable.currency == 'JPY' %} selected {% endif %}>Japan Yen</option>
                    <option value="JOD" {% if swappable.currency == 'JOD' %} selected {% endif %}>Jordan Dinar</option>
                    <option value="KRW" {% if swappable.currency == 'KRW' %} selected {% endif %}>Korea (South) Won</option>
                    <option value="LBP" {% if swappable.currency == 'LBP' %} selected {% endif %}>Lebanon Pounds</option>
                    <option value="LUF" {% if swappable.currency == 'LUF' %} selected {% endif %}>Luxembourg Francs</option>
                    <option value="MYR" {% if swappable.currency == 'MYR' %} selected {% endif %}>Malaysia Ringgit</option>
                    <option value="MXP" {% if swappable.currency == 'MXP' %} selected {% endif %}>Mexico Pesos</option>
                    <option value="NLG" {% if swappable.currency == 'NLG' %} selected {% endif %}>Netherlands Guilders</option>
                    <option value="NZD" {% if swappable.currency == 'NZD' %} selected {% endif %}>New Zealand Dollars</option>
                    <option value="NOK" {% if swappable.currency == 'NOK' %} selected {% endif %}>Norway Kroner</option>
                    <option value="PKR" {% if swappable.currency == 'PKR' %} selected {% endif %}>Pakistan Rupees</option>
                    <option value="XPD" {% if swappable.currency == 'XPD' %} selected {% endif %}>Palladium Ounces</option>
                    <option value="PHP" {% if swappable.currency == 'PHP' %} selected {% endif %}>Philippines Pesos</option>
                    <option value="XPT" {% if swappable.currency == 'XPT' %} selected {% endif %}>Platinum Ounces</option>
                    <option value="PLZ" {% if swappable.currency == 'PLZ' %} selected {% endif %}>Poland Zloty</option>
                    <option value="PTE" {% if swappable.currency == 'PTE' %} selected {% endif %}>Portugal Escudo</option>
                    <option value="ROL" {% if swappable.currency == 'ROL' %} selected {% endif %}>Romania Leu</option>
                    <option value="RUR" {% if swappable.currency == 'RUR' %} selected {% endif %}>Russia Rubles</option>
                    <option value="SAR" {% if swappable.currency == 'SAR' %} selected {% endif %}>Saudi Arabia Riyal</option>
                    <option value="XAG" {% if swappable.currency == 'XAG' %} selected {% endif %}>Silver Ounces</option>
                    <option value="SGD" {% if swappable.currency == 'SGD' %} selected {% endif %}>Singapore Dollars</option>
                    <option value="SKK" {% if swappable.currency == 'SKK' %} selected {% endif %}>Slovakia Koruna</option>
                    <option value="ZAR" {% if swappable.currency == 'ZAR' %} selected {% endif %}>South Africa Rand</option>
                    <option value="KRW" {% if swappable.currency == 'KRW' %} selected {% endif %}>South Korea Won</option>
                    <option value="ESP" {% if swappable.currency == 'ESP' %} selected {% endif %}>Spain Pesetas</option>
                    <option value="XDR" {% if swappable.currency == 'XDR' %} selected {% endif %}>Special Drawing Right (IMF)</option>
                    <option value="SDD" {% if swappable.currency == 'SDD' %} selected {% endif %}>Sudan Dinar</option>
                    <option value="SEK" {% if swappable.currency == 'SEK' %} selected {% endif %}>Sweden Krona</option>
                    <option value="CHF" {% if swappable.currency == 'CHF' %} selected {% endif %}>Switzerland Francs</option>
                    <option value="TWD" {% if swappable.currency == 'TWD' %} selected {% endif %}>Taiwan Dollars</option>
                    <option value="THB" {% if swappable.currency == 'THB' %} selected {% endif %}>Thailand Baht</option>
                    <option value="TTD" {% if swappable.currency == 'TTD' %} selected {% endif %}>Trinidad and Tobago Dollars</option>
                    <option value="TRL" {% if swappable.currency == 'TRL' %} selected {% endif %}>Turkey Lira</option>
                    <option value="VEB" {% if swappable.currency == 'VEB' %} selected {% endif %}>Venezuela Bolivar</option>
                    <option value="ZMK" {% if swappable.currency == 'ZMK' %} selected {% endif %}>Zambia Kwacha</option>
                    <option value="EUR" {% if swappable.currency == 'EUR' %} selected {% endif %}>Euro</option>
                    <option value="XCD" {% if swappable.currency == 'XCD' %} selected {% endif %}>Eastern Caribbean Dollars</option>
                    <option value="XDR" {% if swappable.currency == 'XDR' %} selected {% endif %}>Special Drawing Right (IMF)</option>
                    <option value="XAG" {% if swappable.currency == 'XAG' %} selected {% endif %}>Silver Ounces</option>
                    <option value="XAU" {% if swappable.currency == 'XAU' %} selected {% endif %}>Gold Ounces</option>
                    <option value="XPD" {% if swappable.currency == 'XPD' %} selected {% endif %}>Palladium Ounces</option>
                    <option value="XPT" {% if swappable.currency == 'XPT' %} selected {% endif %}>Platinum Ounces</option>
                </select>
                <label class="form-label" for="condition" id="condition_label">Condition:</label>
                <input class="form-control mb-4 border-dark" id="condition_range" type="range" name="condition" min="0" max="100" data-form-type="range" value="{{swappable.condition}}" required>
                <div class="row mx-auto mt-12 mt-md-10 align-items-center justify-content-between">
                    <button class="btn btn-outline-primary fw-bold mx-auto p-1" id="cancel" data-form-type="action,cancel" style="height: 50px; color: #0081A7;">Cancel</button>
                    <button class="btn text-black border-dark p-1 mt-4" id="save" type="submit" data-form-type="action,register" style="background-color: #f07167; height: 50px;">Save</button>
                </div>
            </form>
            </div>
            <!-- TODO Include Tips -->
            <div class="row col-12 col-md-6 mb-12 mb-lg-0 px-10 py-lg-32 intro pt-md-7 mx-0 px-lg-16">
            <div class="p-10" style="background-color: #00AFB9;">
                Tips
            </div>
            </div>
        </div>
        </div>
    </body>
    </html>
{% endif %}