{% if no_swappable_message %}
    <p>{{no_swappable_message}}</p>
{% else %}
    {% for swappable in swappables %}
        {% for swappable_image in swappable.swappable_image.all %}
            {% if swappable_image.main == True %}
                <div class="col-12 col-sm-4 col-md-3 col-xl-2 mb-6">
                    <div class="border border-dark" style="background-color: grey; border-radius: 15px;">
                        <a class="link-dark text-decoration-none d-block" href="{% url 'baba:show_swappable' id=swappable.id %}">
                            <img class="mx-auto img-fluid w-100 p-4" style="height: 224px; object-fit: cover;" src="{{swappable_image.image.url}}" alt="{{swappable_image.name}}">
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}