{% extends 'baba_barter/base.html' %} 
{% block title %} Home - Baba Barter {% endblock %}
{% load static %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'baba_barter/css/home.css' %}"> {% endblock %}
{% block js %} <script type="text/javascript" src="{% static 'baba_barter/js/home.js' %}"></script> {% endblock %}

{% if user %}
  {% block name %} <span class="me-2">{{user.first_name}}</span> {% endblock %}
  {% block image %} 
    {% if user_image %}
      <img class="img-fluid" id="profile_image" src="{{user_image.image.url}}" alt="" width="40px" height="40px">
    {% else %}
      <img class="img-fluid" id="profile_image" src="{% static 'baba_barter/yofte-assets/images/product-bottle.png' %}" alt="" width="40px" height="40px">
    {% endif %}
  {% endblock %}
  {% block image_burger %} 
    {% if user_image %}
      <img class="img-fluid" id="profile_image" src="{{user_image.image.url}}" alt="" width="40px" height="40px">
    {% else %}
      <img class="img-fluid" id="profile_image" src="{% static 'baba_barter/yofte-assets/images/product-bottle.png' %}" alt="" width="40px" height="40px">
    {% endif %}
  {% endblock %}
  {% block content %}
    <div class="container py-20">
      {% include 'baba_barter/filter.html' with title="" id=user.id %}
      <div class="row mb-24">
        <div class="col-12 px-3">
          <div class="row">
            {% with ''|center:4 as range %}
              {% for _ in range %}
                {% include 'baba_barter/swap_items.html' with colour="#F07167" profile_image='/media/profile_images/book.png' %}
              {% endfor %}
            {% endwith %}
            {% with ''|center:4 as range %}
              {% for _ in range %}
                {% include 'baba_barter/swap_items.html' with colour="#4287f5" profile_image='/media/profile_images/book.png'  %}
              {% endfor %}
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="text-center">
        <a class="btn btn-primary" href="#">Show More</a>
      </div>
    </div>
  {% endblock %}
{% endif %}