{% load humanize %}
<div class="position-relative container-fluid" style="background-color: #ffffff;">
    <div class="row intro_first_div">
        <div class="col-12 col-md-4 mb-12 mb-lg-0 pt-10 py-lg-20 intro pt-md-7 pt-lg-12 px-4">
            <div class="position-relative mx-auto ms-md-4 ms-lg-20 border border-dark" style="background-color: #fed9b7;">
                <div class=" text-center mb-6">
                    <img class="img-fluid mt-8" id="profile_image" src="{{image}}" alt="Profile Picture" width="200px" height="200px">
                    <a class="d-block text-center link-primary" href="{% url 'baba:edit_profile_picture' %}" id="update_profile_picture_link" style="color: #0081A7;">{{update}}</a>
                </div>
                <div class="px-6 d-block">
                    <a class="link-dark text-decoration-none d-block align-items-center mb-2" href="#">
                        <svg class="me-1" width="25" height="25" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        {{reviews}}
                    </a>
                    <a class="link-dark text-decoration-none d-block align-items-center mb-2" href="#">
                        <svg class="me-1" width="25" height="25" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        {{swaps}}
                    </a>
                    <a class="link-dark text-decoration-none d-block align-items-center mb-4" href="{% url 'baba:swappables' id=id %}">
                        <svg class="me-1" width="25" height="25" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        {{swappables}}
                    </a>
                </div>
            </div>
            <div class="mt-8" id="profile_picture_edit">

            </div>
        </div>
        <div class="position-relative col-12 col-md-8 mb-12 mb-lg-0 intro_img">
            <div class="mw-xl intro_text me-md-10 me-lg-10 mt-md-12 mt-0 mb-10 px-4 ms-lg-20">
                <h3 class="mb-0">Hi, I'm {{name}}</h3>
                <p class="text-muted mb-2">Joined {{join_date|naturaltime}}</p>
                <a id="edit_profile_link" href="{% url 'baba:edit_profile' id=user.id %}" style="color: #0081A7;" data-id="{{user.id}}">{{edit}}</a>
                <a id="report_profile_link" href="{% url 'baba:report_user' id=id %}" style="color: #0081A7;" data-id="{{visited_user.id}}">{{report}}</a>
            </div>
            <div>
                {%if messages%}
                    {%for message in messages%}
                        {% if 'report_user_sucess' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p style="color: green;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                        {% if 'edit_user_sucess' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p style="color: green;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                        {% if 'edit_first_name' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p  style="color: red;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                        {% if 'edit_last_name' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p style="color: red;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                        {% if 'edit_email' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p style="color: red;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                        {% if 'edit_gender' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p  style="color: red;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                        {% if 'edit_description' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p style="color: red;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                        {% if 'edit_current_password' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p style="color: red;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                        {% if 'edit_new_password' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p  style="color: red;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                        {% if 'edit_new_password_confirmation' in message.extra_tags %}
                            <div class="mw-xl me-md-10 me-lg-10 mt-md-4 mt-0 mb-4 px-4 ms-lg-20">
                                <p  style="color: red;" class="{{message.tags}}">{{message}}</p>
                            </div>
                        {% endif %}
                    {%endfor%}
                {%endif%}
                <div id="placeholder_edit_and_report"></div>
            </div>
            <div class="mw-xl me-md-10 me-lg-10 mt-md-12 mt-0 mb-10 px-4 ms-lg-20 border-bottom border-dark profile_info" id="profile_info">
                <h5 class="mb-4">About</h5>
                <p class="mb-6">{{description}}</p>
                <p class="mb-2">
                    <svg class="me-1" width="25" height="25" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    {{address}}
                </p>
                <p class="mb-2">
                    <svg class="me-1" width="25" height="25" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    {{languages}}
                </p>
                <p class="mb-6">
                    <svg class="me-1" width="25" height="25" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    {{work}}
                </p>
            </div>
            <div class="mw-xl me-md-10 me-lg-10 mt-md-6 mt-0 mb-10 px-4 ms-lg-20 border-bottom border-dark">
                <div class="mb-10">
                    <p class="mb-6 fw-bold">
                        <svg class="me-1" width="25" height="25" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        {{reviews_2}}
                    </p>
                    <p class="text-muted mb-2">February 2022</p>
                    <p class="mb-3">Great guests, very clean</p>
                    <a class="link-dark text-decoration-none d-inline-flex align-items-center" href="#">
                        <svg class="me-3" width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <div class="mw-xl">
                            <p class="mb-0 fw-bold">Mmedara Josiah</p>
                            <p class="text-muted mb-2">Joined in 2021</p>
                        </div>
                    </a>
                </div>
                <div class="mb-10">
                    <p class="text-muted mb-2">February 2022</p>
                    <p class="mb-3">Great guests, very clean</p>
                    <a class="link-dark text-decoration-none d-inline-flex align-items-center" href="#">
                        <svg class="me-3" width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <div class="mw-xl">
                            <p class="mb-0 fw-bold">Mmedara Josiah</p>
                            <p class="text-muted mb-2">Joined in 2021</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mw-xl me-md-10 mt-md-6 mt-0 px-4 ms-lg-20 mb-20 pb-10 border-bottom border-dark">
                <a class="link-dark fw-bold" href="#">{{reviews_by_you}}</a>
            </div>
        </div>
    </div>
</div>