<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In - Baba Barter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'baba_barter/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'baba_barter/css/signin.css' %}">
    <link rel="icon" href="{% static 'baba_barter/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'baba_barter/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'baba_barter/js/signin.js' %}"></script>
  </head>
  <body style="background-color: #FDFCDC;">
    <div class="">  
      <section class="py-24 overflow-hidden signin_main_background" style="background-color: #fed9b7;">
        <div class="position-relative container">
          <div class="position-relative mw-4xl mx-auto">
            <div class="position-absolute top-50 start-0 end-0 translate-middle-y border ms-n4 me-n4" style="height: 90%;"></div>
            <div class="position-relative mx-auto py-28 px-4 border text-center sign_in_second_background border-dark" style="background-color: #fdfcdc;">
              <a class="d-inline-block h6 mb-12" href="{% url 'baba:intro' %}">
                <img class="img-fluid" src="{% static 'baba_barter/yofte-assets/logos/yofte-logo-white.svg' %}" alt="Baba Barter Logo">
              </a>
              <h3 class="mb-10 text-black">Sign in with</h3>
              <div class="position-relative mw-xl mx-auto">
                <img class="d-none d-md-block position-absolute top-0 end-0 me-n80" src="{% static 'baba_barter/yofte-assets/elements/white-sign-line.svg' %}" alt="White sign line">
                <img class="d-none d-md-block position-absolute bottom-0 start-0 ms-n80" src="{% static 'baba_barter/yofte-assets/elements/orange-sign-line.svg' %}" alt="Orange sign line">
                <img class="d-none d-md-block position-absolute bottom-0 start-50 mb-n12 ms-64" src="{% static 'baba_barter/yofte-assets/elements/purple-sign-line.svg' %}" alt="Purple sign line">
                <div class="row mb-10 justify-content-between pb-10 border-bottom border-dark">
                  <div class="col-12 col-md-6 mb-2 mb-md-0">
                    <a class="btn d-inline-flex align-items-center justify-content-center w-100 border rounded-3 border-dark" style="height: 64px;" href="#">
                      <img class="img-fluid" src="{% static 'baba_barter/yofte-assets/brands/google.svg' %}" alt="Google Logo">
                      <span class="ms-4 tetx-uppercase fw-bold">Google</span>
                    </a>
                  </div>
                  <div class="col-12 col-md-6">
                    <a class="btn d-inline-flex align-items-center justify-content-center w-100 border rounded-3 border-dark" style="height: 64px;" href="#">
                      <img class="img-fluid" src="{% static 'baba_barter/yofte-assets/brands/facebook2.svg' %}" alt="Facebook Logo">
                      <span class="ms-4 text-uppercase fw-bold text-black">Facebook</span>
                    </a>
                  </div>
                </div>
                <div class="mw-md mx-auto">
                  <h5 class="mb-10 font-bold">Sign in with Email:</h5>
                  <form action="{% url 'baba:process_signin' %}" method="post" data-dashlane-rid="4835c1b6fc4ac222" data-form-type="register">
                    {% csrf_token %}
                    <!-- TODO Dispplay error messages -->
                    <input class="form-control mb-4 signin_email_input border-dark" type="email" name="signin_email_input" placeholder="john@example.com" data-dashlane-rid="2a6ba70fbe7497ee" data-form-type="email" data-kwimpalastatus="alive" data-kwimpalaid="1645148439110-5">
                    <input class="form-control mb-4 signin_password_input border-dark" type="password" name="signin_password_input" placeholder="Password" data-dashlane-rid="642a14915f23d277" data-form-type="password,new" data-kwimpalastatus="alive" data-kwimpalaid="1645148439110-4">
                    <button class="mt-12 mt-md-10 btn text-black signin_signin_button border-dark p-1" style="background-color: #f07167; width: 200px; height: 50px;" data-dashlane-rid="81b70ce9ebe21a51" data-form-type="action,register" data-dashlane-label="true">Sign in</button>
                  </form>
                </div>
              </div>
              <p class="mt-12 mt-md-6 small text-black signup_link">Or <a class="link-primary signup_link_a" style="color: #0081a7;" href="{% url 'baba:signup' %}">Sign Up</a> if you don't have an account</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
