{% extends 'baba_barter/base.html' %} 
{% block title %} Your Swappables - Baba Barter {% endblock %}
{% load static %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'baba_barter/css/swappables.css' %}"> {% endblock %}
{% block js %} <script type="text/javascript" src="{% static 'baba_barter/js/swappables.js' %}"></script> {% endblock %}

{% if user %}
  {% block name %} <span class="me-2">{{user.first_name}}</span> {% endblock %}
  {% block image %} 
    {% if user_image %}
      <img class="img-fluid" id="profile_image" src="{{user_image.image.url}}" alt="" width="40px" height="40px">
    {% else %}
      <img class="img-fluid" id="profile_image" src="{% static 'baba_barter/yofte-assets/images/product-bottle.png' %}" alt="" width="40px" height="40px">
    {% endif %}
  {% endblock %}
  {% block image_burger %} 
    {% if user_image %}
      <img class="img-fluid" id="profile_image" src="{{user_image.image.url}}" alt="" width="40px" height="40px">
    {% else %}
      <img class="img-fluid" id="profile_image" src="{% static 'baba_barter/yofte-assets/images/product-bottle.png' %}" alt="" width="40px" height="40px">
    {% endif %}
  {% endblock %}
  {% block content %}
    <div class="container py-20">
      {% if swappable_images|length > 0 %}
        {% if owner == True %}
          {% include 'baba_barter/filter.html' with title="Your swappables" id=user.id %}
        {% else %}
            {% include 'baba_barter/filter.html' with title=visited_user.first_name|add:"'s swappables" id=visited_user.id %}
        {% endif %}
        <div class="row mb-24">
          <div class="col-12 px-3">
            <div class="row" id="placeholer">
              {% for swappable, swappable_image in both %}
                <div class="col-4 col-sm-3 col-md-3 col-lg-2 mb-6">
                  <div class="border border-dark" style="background-color: #F07167; border-radius: 15px;">
                    <a class="link-dark text-decoration-none d-block" href="{% url 'baba:show_swappable' id=swappable.id %}">
                      <img class="mx-auto img-fluid w-100 p-4" style="height: 224px; object-fit: cover;" src="{{swappable_image.image.url}}" alt="">
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="text-center">
          <a class="btn btn-primary" href="#">Show More</a>
        </div>
      {% else %}
        <p>You have no swappables</p>
      {% endif %}
    </div>
  {% endblock %}
{% endif %}