{% load static %}
<div class="col-4 col-sm-3 col-md-3 col-lg-2 mb-6">
    <div class="border border-dark" style="background-color: {{colour}}; border-radius: 15px;">
        <a class="link-dark text-decoration-none d-block" href="{% url 'baba:show_swappable' id=1 %}">
            <img class="mx-auto img-fluid w-100 p-4" style="height: 224px; object-fit: fill;" src="{{profile_image}}" alt="">
        </a>
    </div>
</div>
<div class="col-4 col-sm-3 col-md-3 col-lg-2 mb-6">
    <div class="border border-dark" style="background-color:  {{colour}}; border-radius: 15px;">
        <a class="link-dark text-decoration-none d-block" href="{% url 'baba:show_swappable' id=1 %}">
            <img class="mx-auto img-fluid w-100" style="height: 224px; object-fit: fill;" src="{% static 'baba_barter/yofte-assets/images/skateboard.png' %}" alt="">
        </a>
    </div>
</div>
<div class="col-4 col-sm-3 col-md-3 col-lg-2 mb-6">
    <div class="border border-dark" style="background-color:  {{colour}}; border-radius: 15px;">
        <a class="link-dark text-decoration-none d-block" href="{% url 'baba:show_swappable' id=1 %}">
            <img class="mx-auto img-fluid w-100" style="height: 224px; object-fit: contain;" src="{% static 'baba_barter/yofte-assets/images/cycle.png' %}" alt="">
        </a>
    </div>
</div>
<div class="col-4 col-sm-3 col-md-3 col-lg-2 mb-6">
    <div class="border border-dark" style="background-color: {{colour}}; border-radius: 15px;">
        <a class="link-dark text-decoration-none d-block" href="{% url 'baba:show_swappable' id=1 %}">
            <img class="mx-auto img-fluid w-100" style="height: 224px; object-fit: contain;" src="{% static 'baba_barter/yofte-assets/images/basketball.png' %}" alt="">
        </a>
    </div>
</div>
<div class="col-4 col-sm-3 col-md-3 col-lg-2 mb-6">
    <div class="border border-dark" style="background-color: {{colour}}; border-radius: 15px;">
        <a class="link-dark text-decoration-none d-block" href="{% url 'baba:show_swappable' id=1 %}">
            <img class="mx-auto img-fluid w-100" style="height: 224px; object-fit: contain;" src="{% static 'baba_barter/yofte-assets/images/nncupzz.png' %}" alt="">
        </a>
    </div>
</div>