{% extends 'baba_barter/base.html' %} 
{% block title %} Profile - Baba Barter {% endblock %}
{% load static %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'baba_barter/css/user_profile.css' %}"> {% endblock %}
{% block js %} <script type="text/javascript" src="{% static 'baba_barter/js/user_profile.js' %}"></script> {% endblock %}

{% if user %}
    {% block name %} <span class="me-2">{{user.first_name}}</span> {% endblock %}
    {% block image %} 
        {% if user_image %}
            <img class="img-fluid" id="profile_image" src="{{user_image.image.url}}" alt="" width="40px" height="40px">
        {% else %}
            <img class="img-fluid" id="profile_image" src="{% static 'baba_barter/yofte-assets/images/product-bottle.png' %}" alt="" width="40px" height="40px">
        {% endif %}
    {% endblock %}
    {% block image_burger %} 
        {% if user_image %}
            <img class="img-fluid" id="profile_image" src="{{user_image.image.url}}" alt="" width="40px" height="40px">
        {% else %}
            <img class="img-fluid" id="profile_image" src="{% static 'baba_barter/yofte-assets/images/product-bottle.png' %}" alt="" width="40px" height="40px">
        {% endif %}
    {% endblock %}
    {% block content %}
        {% if visited_user %}
            {% include 'baba_barter/profile_info.html' with image=visited_user_image.image.url reviews="2 reviews" swaps="7 swaps" id=visited_user.id swappables=visited_user_swappable_count|add:" "|add:"swappables" name=visited_user.first_name|add:" "|add:visited_user.last_name join_date=visited_user.created_at description=visited_user.description address="Ottawa, Ontario, Canada" languages="English, French, Spanish" work="Software Engineer" %}
        {% else %}
            {% include 'baba_barter/profile_info.html' with image=user_image.image.url update="Update picture" edit="Edit Profile" reviews="2 reviews" swaps="7 swaps" id=user.id swappables=user_swappable_count|add:" "|add:"swappables" name=user.first_name|add:" "|add:user.last_name join_date=user.created_at description=user.description address="Ottawa, Ontario, Canada" languages="English, French, Spanish" work="Software Engineer" reviews_by_you="Reviews by you" %}
        {% endif %}
    {% endblock %}
{% endif %}